:root {
  --box-size: 64px;
  --font-size: calc(var(--box-size) * 0.75);
}
.box,
.pinyin {
  width: var(--box-size);
  height: var(--box-size);
  border: 1px solid #888;
  border-radius: 2px;
  position: relative;
  font-family: 'Tianyingzhang-Kaishu';
  font-size: var(--font-size);
}
/* 田字格 */
.tian.box::before,
.tian.box::after,
.mi.box::before,
.mi.box::after,
.mi.box .char::before,
.mi.box .char::after {
  content: '';
  position: absolute;
  width: 100%;
  border-top: 1px dashed #aaa;
  top: 50%;
  z-index: -1;
}
.tian.box::after,
.mi.box::after {
  transform: rotate(90deg);
}
/* 米字格 */
.mi.box .char::before {
  transform: rotate(45deg);
  width: 140%;
  left: -21%;
}
.mi.box .char::after {
  transform: rotate(-45deg);
  width: 140%;
  left: -21%;
}

.char {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: var(--box-size);
  z-index: 999;
  color: #444;
}
.sample .char {
  color: rgba(243, 147, 162, 0.7);
}
.pinyin {
  border: 0;
  --pinyin-font-size: calc(var(--box-size) * 0.4 - 2px);

  font-family: 'Mulish', sans-serif;
  font-size: var(--pinyin-font-size);
  line-height: var(--pinyin-font-size);
  padding-top: calc((var(--box-size) - var(--pinyin-font-size)) / 2);
  text-align: center;

  hr {
    position: absolute;
    top: calc(40% + 1px);
    left: 0;
    width: 100%;
    height: 0;
    z-index: -1;
  }
  hr + hr {
    margin-top: calc(var(--pinyin-font-size) * 0.5);
    border-color: lightsalmon;
  }
}

.row {
  margin-bottom: 1px;
}
.sheet {
  /* A4 paper size: 2480px x 3508px */
  width: calc(90vh * 2480 / 3508);
  height: 90vh;
  border: 1px dashed #5190da;
  margin: 8px 0;
  padding: 2px;
}
@font-face {
  font-family: 'Tianyingzhang-Kaishu';
  src: url('./tyz.woff2') format('truetype');
}
@font-face {
  font-family: 'Mulish';
  src: url('./Mulish-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@media print {
  :root {
    --box-size: 64px !important;
  }

  @page {
    size: A4;
    margin: 0.2in 0.8in; /* Adjust page margin for A4 paper */
  }
  #input,
  #screen {
    display: none;
  }
  #printable {
    display: flex;
  }
  .row {
    margin-bottom: 4px;
    padding-right: 1px; /* 最右测田字格打印略浅，加一点儿间距就没问题了。*/
  }
}
