:root {
  --box-size: 64px;
  --font-size: calc(var(--box-size) * 0.75);
}
.box {
  width: var(--box-size);
  height: var(--box-size);
  border: 1px solid #888;
  border-radius: 2px;
  position: relative;
  font-family: "Tianyingzhang-Kaishu";
  font-size: var(--font-size);
}
.box::before {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 1px dashed #aaa;
  top: 50%;
  transform: translateY(-50%);
}
.box::after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 1px dashed #aaa;
  top: 50%;
  transform: rotate(90deg);
}
.char {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: var(--box-size);
  z-index: 999;
  color: #444;
}
.sample {
  color: rgba(243, 147, 162, 0.7);
}

.row {
  margin-bottom: 1px;
}
.sheet {
  /* A4 paper size: 2480px x 3508px */
  width: calc(90vh * 2480 / 3508);
  height: 90vh;
  border: 1px dashed #5190da;
  margin: 8px 0;
  padding: 2px;
}
@font-face {
  font-family: "Tianyingzhang-Kaishu";
  src: url("./tyz.woff2") format("truetype");
}

@media print {
  :root {
    --box-size: 64px!important;
  }

  @page {
    size: A4;
    margin: 0.2in 0.8in; /* Adjust page margin for A4 paper */
  }
  #input, #screen {
    display: none;
  }
  #printable {
    display: flex;
  }
  .row {
    margin-bottom: 4px;
    padding-right: 1px; /* 最右测田字格打印略浅，加一点儿间距就没问题了。*/
  }
}
