#char > div > svg {
    display: inline-block;
    background: url(assets/mzg.svg);
    background-size: contain;
    border: 1px solid #aaa;
}

.sample > svg + svg {
    margin-left: 4px;
}

.write-them-down + .sample {
    margin-top: 8px;
}
.write-them-down:not(:last-child) {
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e7eb;
}