#char > div > svg {
    display: inline-block;
    background: url(assets/mzg.svg);
    background-size: contain;
    border: 1px solid #aaa;
}

#math {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #666;
}

#math .box {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    border: 1px solid #aaa;
    border-radius: 2px;
}

.sample > svg + svg {
    margin-left: 4px;
}

.write-them-down + .sample {
    margin-top: 8px;
}
.write-them-down:not(:last-child) {
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e7eb;
}