#char > div > svg {
    display: inline-block;
    background: url(./mzg.svg);
    background-size: contain;
    border: 1px solid #aaa;
}

#math {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #666;
}

#math .question {
    text-align: center;
}
#math .question:first-child {
    text-align: left;
}
#math .question:last-child {
    text-align: right;
}

#math .question > span {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 36px;
    height: 36px;
}

#math .box {
    border: 1px solid #aaa;
    border-radius: 2px;
}

.sample > svg + svg {
    margin-left: 4px;
}

.write-them-down + .sample {
    margin-top: 8px;
}
.write-them-down:not(:last-child) {
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e7eb;
}